.page {
  &__header{
    margin-top: $indent-xl;
    margin-bottom: $indent-xl;
    align-items: baseline;
  }
	&__title {
		padding: $indent-m 0;
	}
}


.form{
  &__item{
    &:not(:last-child){
      margin-bottom: 50px;
    }
    .ant-form-explain, .ant-form-extra {
      position: absolute;
    }
    .ant-row.ant-form-item {
      margin-bottom: 0;
    }
  }


}

