.comment {
	&__top {
		display: flex;
		align-items: baseline;
		justify-content: space-between;

		margin-bottom: $indent-m;

		opacity: 0.66;

    time {
      margin-right: auto;
      margin-left: $indent-s;
    }
	}
	&__body {
			@include text;
	}
}
